* {
    margin: 0;
    padding: 0;
}

.wraper {
    margin: 30px auto;
    position: relative;
    background-color: #d8a997;
    width: 1000px;
    height: 600px;
}

.form {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: rgb(252, 197, 197);
    width: 800px;
    height: 400px;
}

.form__logo {
    position: absolute;
    width: 200px;
    height: 400px;
    background-color: #7f7182;
    top: 0px;
    left: 0px;
}

.form__logo p {
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 20px;
}

.form__logo i {
    transform: rotate(-45deg);
    background-color: lightpink;
    border-radius: 15px;
}

.form__logo img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 25px;
    bottom: 0%;
}

.form__sigin__title {
    position: absolute;
    left: 250px;
    top: 20px;
    height: 50px;
}

.form__sigin__title h2 {
    text-align: left;
    font-size: 30px;
}

.form__sigin__content {
    position: absolute;
    left: 250px;
    bottom: 0px;
    width: 300px;
    height: 300px;
}

td {
    padding-left: 50px;
    padding-bottom: 20px;
}

.btn {
    position: absolute;
    display: flex;
}

.btn--back {
    position: absolute;
    left: 80px;
    top: 20px;
    padding: 2px 20px;
    border-radius: 15px;
}

.btn--next {
    position: absolute;
    left: 280px;
    top: 20px;
    padding: 2px 20px;
    border-radius: 15px;
}

[class^="btn"] :hover {
    background-color: rgb(31, 21, 31);
    color: white;
}